<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ajax - Flask</title>

        <!-- 引入準備好的 script.js -->
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'script.js') }}" ></script>
    </head>
    <body>
        <!-- GET : 使用者按下按鈕後會索取資料並將資料放入 POST 區域中的欄位 -->
        <h2>API : GET</h2>
        <button onclick="getTestData()">GET</button>

        <hr />

        <!-- POST : 使用者按下按鈕後會將欄位中的資料傳送給伺服器，並將結果顯示 -->
        <h2>API : POST</h2>
        <p>Name : <input id="app_name" name="app_name" type="text" /></p>
        <p>Age : <input id="app_age" name="app_age" type="text" /></p>
        <p>Hobby : <input id="app_hobby" name="app_hobby" type="text" /></p>
        <button onclick="postData()">POST</button>
        <p id="post_result"></p>

        <hr />

        <!-- Console : 使用者透過 GET 按鈕得到的資料會顯示於此 -->
        <h3>Console : </h3>
        <div id="console"></div>
    </body>
</html>